*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
}
.header_container{
 height: 70px;
 width: 100%;
 background-color: rgb(255, 255, 255);
 display: flex;
}
.header_container_left{
   height: 100%;
   width: 50%;
   /* background-color: rgb(123, 123, 233); */
   display: flex;
   align-items: center;
   justify-content: start;
   padding-left: 100px;
   gap: 20px;
}
.logo img{
height: 50px;
width: 50px;
}

.name{
font-weight: bold;
}
.header_container_right{
   height: 100%;
   width: 50%;
   /* background-color: cadetblue; */
   display: flex;
   justify-content: end;
   align-items: center;
   padding-right: 100px;
   gap: 50px;
}
.header_container_right a{
    color: rgb(7, 5, 5);
    text-decoration: none;
    font-size: 18px;
}
.ri-home-4-fill{
padding-right: 10px;
}
.ri-user-fill{
padding-right: 10px;
}
.ri-code-s-slash-line{
padding-right: 10px;
}
.ri-graduation-cap-fill{
padding-right: 10px;
}
.ri-mail-fill{
padding-right: 10px;
}

#home{
    color:#1D4ED8 ;
}

.hover_effect:hover{
  color:#1D4ED8 ;
}
/* <!-- header_container css end here  --> */

.hero{
 height: 100vh;
 width: 100%;
 /* background-color: red; */
 display: flex;
}
.hero_text{
height: 100%;
width: 50%;
background-color: rgb(255, 255, 255);
font-display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
transition: all 2s;
gap: 20px;
}
.hero_greeting{
padding-left: 100px;
}
.hero_greeting h1{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 50px;
}
/* #wave_imoge{
 animation: waveimogi;
 animation-timing-function: 1s;
 animation-delay: 1s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
 animation-timing-function: step-end;
}
@keyframes waveimogi {
    from{
       
    }
    to{
        
    }
} */
#Alok_Rathod{
text-decoration: underline;
color: #1D4ED8;
}
.hero_title{
 padding-left: 110px;
 padding-bottom: 20px;
}
.hero_title h2{
    font-size: 40px;
}
.hero_description{
padding-left: 110px;
padding-bottom: 50px;
}
.hero_description p{
    font-weight: 300;
    color: rgb(118, 106, 106);
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero_buttons{
padding-left: 110px;
display: flex;
justify-content: start;
align-items: center;
gap: 20px;
}
.hero_buttons button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
}
#mywork{
    background-color: #1D4ED8;
}
/* #mywork:hover{
background-color: black;
color: white;
transition-duration: 0.1;
transition-timing-function: ease-in;
transition-delay: 0.1s;
} */
#cv{
    background-color: black;
}
/* #cv:hover{
 background-color: #1D4ED8;
 color: white;
} */
.hero_social{
 display: flex;
 align-items: center;
 justify-content: start;
 padding-left: 120px;
 padding-top: 50px;
 gap: 10px;
}
.github{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.github:hover{
 position: relative;
 top: 5px;
}
.ri-github-fill{
    font-size: 22px;
}
.ri-github-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.linkedin{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.linkedin:hover{
 position: relative; 
 top: 5px;
}
.ri-linkedin-box-fill{
    font-size: 22px;
}
.ri-linkedin-box-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.instagram{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.instagram:hover{
 position: relative; 
 top: 5px;
}
.ri-instagram-fill{
    font-size: 22px;
}
.ri-instagram-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.hero_image{
height: 100%;
width: 50%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
}
.hero_image_box{
    height: 600px;
    width: 450px;
    border: 4px solid #1D4ED8;
    border-radius: 20px;
}

.hero_image_box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.hero_image_box {
    position: relative;
    animation: alternate;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-name: movementimagebox;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes movementimagebox {
    from{
        top: 10px;
    }
    to{
        bottom: 10px;
    }
}
/* <!-- hero html end here  -->   */

.features{
 height: 100vh;
 width: 100%;
}
.features_header{
height: 20%;
width: 100%;
background-color: rgb(242, 236, 236);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.features_header h3{
font-size: 30px;
font-weight: 600;
padding-bottom: 15px;
letter-spacing: 3px;
}
.features_header h3::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    top: 75px;
    left: 720px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgb(46, 143, 87) 50%, rgb(66, 219, 214) 100%);
}
.features_header p{
font-size: 20px;
letter-spacing: 2px;
color: darkgray;
}
.features_grid{
height: 80%;
width: 100%;
background-color: rgb(241, 235, 235);
display: grid;
row-gap: 1rem;
justify-content: center;
column-gap: 4rem;
padding-top: 15px;
grid-template-rows: 270px 270px;
grid-template-columns: 330px 330px 330px;
}
.grid_item{
    /* background-color: burlywood; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   border: 1px solid  rgb(211, 202, 202);
}
.grid_item:hover{
    border: 1px solid #1D4ED8;
    box-shadow: 1.5px 1.5px  0.5px rgb(214, 210, 210);
}
.grid_item_part{
 height: 80px;
 width: 300px;
}
#features_icon{
/* background-color: azure; */
display: flex;
justify-content: start;
align-items: center;
padding-left: 8px;
position: relative;
}
.icon_box{
    height: 60px;
    width: 60px;
    background-color: #1D4ED8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_item :hover .ri-html5-fill  {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-server-line {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-tools-line  {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-brush-fill {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.ri-html5-fill{
  font-size: 35px;
  color: whitesmoke;
}
.ri-server-line{
 font-size: 35px;
  color: whitesmoke;
}
.ri-tools-line{
 font-size: 35px;
  color: whitesmoke;
}
.ri-brush-fill{
 font-size: 35px;
  color: whitesmoke;
}
#features_content{
/* background-color: rgb(89, 186, 186); */
}
#features_content h3{
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#features_content p{
    font-size: 16px;
    padding-left: 5px;
    color: rgb(67, 62, 62);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#features_skills_tag{
/* background-color: rgb(116, 0, 108); */
  padding-top: 10px;
  padding-left: 5px;
}

#features_skills_tag span{
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   font-size: 15px;
   /* border: 1px solid white ; */
   border-radius: 8px;
   margin: 8px;
   margin-left: 0;
}

.grid_item :hover span {
     background-color: #1D4ED8;
     color: white;
}


/* <!-- features css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about{
height: 130vh;
width: 100%;
}
.about_header{
height: 30vh;
width: 100%;
background-color: #f1f4fd;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.about_header h2{
 font-size: 38px;
}
.about_header p{
font-size: 22px;
}
.about_content_box{
height: 100vh;
width: 100%;
background-color: #feffff;
display: flex;
flex-direction: row;
}
.about_content_box .about_content_left{
height: 100vh;
width: 50%;
/* background-color: blueviolet; */
}
.about_content_part{
/* height: 20vh;
width: 100%; */
}
.about_content_part1{
    height: 18vh;
    width: 100%;
    /* background: #423838; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.about_content_part1 p{
padding-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
}

.about_content_part2{
    height: 18vh;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.about_content_part2 p{
padding-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
}
.about_content_part3{
    height: 18vh;
    width: 100%;
    /* background-color: darkblue;  */
    display: flex;
    justify-content: start;
    align-items: center;
}
.about_content_part3 p{
padding-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
}
.about_content_part4{
    height: 28vh;
    width: 100%;
   background-color: rgb(255, 255, 255); 
}
.about_grid{
  display: grid;
  grid-template-columns: 300px 300px ;
  grid-template-rows: 90px 90px;
  row-gap: 5px;
  column-gap: 50px;
  padding-left: 100px;
  padding-top: 6px;
  row-gap: 10px;
}
.about_grid_item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding-left: 30px;
    gap: 5px;
    border: 0.1px solid gray;
}
.ri-team-fill{
    font-size: 40px;
    color: #1D4ED8;
}
.ri-code-s-slash-line_2{
    font-size: 40px;
    color: #1D4ED8;
}

.about_grid_item_1{
/* background-color: chartreuse; */


}


.about_grid_item_2{
 /* background-color: coral; */

}

.about_grid_item_3{
/* background-color: cyan; */

}




.about_content_part5{
    height: 18vh;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
    gap: 20px;
}

.about_content_part5 button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 25px;
    border-radius: 8px;
    border: none;
}

#lets_takl_btn{
    background-color: #1D4ED8;
    color: white;
}

#view_projects{
    background-color: black;
    color: white;
}

.about_image_right{
height: 100vh;
width: 50%;
background-color: rgb(255, 255, 255);
position: relative;
}

.image_div{
height: 100vh;
width: 100%;
}

.image_div img{
    height: 100%;
    width: 100%;
    object-fit:contain;
    object-position: center;
    position: relative;
    right: 25px;
}
.threeyears_ex{
    height: 100px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 600px;
    left: 390px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.threeyears_ex h1{
    color: #1D4ED8;
    font-size: 40px;
}
.threeyears_ex p{
    color: #a1b8f5;
}
.threeyears_ex:hover{
    rotate: -20deg;
    transition: all ease-in-out 2s;
}

/* <!-- features css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.projects{
height: 150vh;
width: 100%;
}
.projects_btn_section{
height: 30vh;
width: 100%;
background-color: rgb(239, 239, 233);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
}
.projects_btn_section h1{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects_btn_section p{
  font-size: 18px;
  color: #7a8091;
}
.projects_card_section{
height: 100vh;
width: 100%;
background-color: rgb(250, 255, 255);
display: flex;
justify-content: center;
align-items: center;
gap: 10px;

}
.projects_card_section_part_1{
    height: 100%;
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
/* .projects_card_section_part_2{
    height: 100%;
    width: 30%;
    background-color: #344880;
      border-radius: 10px;
} */
/* .projects_card_section_part_3{
    height: 100%;
    width: 30%;
    background-color: #782193;
    border-radius: 10px;
} */
.projects_card_section .projects_card_section_part_1 .project_image{
height: 40vh;
width: 100%;
/* background-color: #782193; */
position: relative;
}
.project_image img{
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: center;
 
}
.project_image .hover_box{
height: 40vh;
width: 100%;
top: 0px;
 background-color: rgba(10, 6, 6, 0.676);
visibility: hidden;

 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
}
 .projects_card_section:hover .hover_box{
    visibility: visible;
}
#livedemo{
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
padding-top: 10px;
border-radius:10px ;
border: none;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #1D4ED8;
}
#sourcecode{
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
padding-top: 10px;
border-radius: 10px;
font-size: 18px;
border: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #1D4ED8;
}




.projects_card_section .projects_card_section_part_1 .project_about{
height: 20vh;
width: 100%;
/* background-color: #216993; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.project_about h2{
    letter-spacing: 7px;
    font-size: 25px;
    font-weight: 535;
    padding-right: 40px
}
.project_about p{
padding-left: 30px;
padding-right: 10px;
}
.projects_card_section .projects_card_section_part_1 .project_span{
height: 20vh;
width: 100%;
/* background-color: #938f21; */
padding-top: 20px;
padding-left: 25px;
}
.project_span span{
margin: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projects_card_section:hover span{
background-color: #1D4ED8;
color: white;
}
.projects_card_section .projects_card_section_part_1 .project_features_rating{
 height: 15vh;
width: 100%;
/* background-color: #219380; */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 25px;
padding-right: 25px;
}
 .ri-star-fill{
    color: #1D4ED8;
    padding-right: 5px;
    font-size: 20px;
 }
 .ri-stackshare-line{
color: #1D4ED8;
padding-right: 5px;
font-size: 20PX;
 }

.projects_more_section{
height: 20vh;
width: 100%;
background-color: rgb(239, 239, 233);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.projects_more_section button{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: blue;
    border: none;
}
.projects_more_section button a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding-left: 5px;
}
.ri-github-fill_1{
padding-right: 5px;
}
/* <!-- projects css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.teachingandteam{
  height: 120vh;
  width: 100%;
  background-color: rgb(87, 65, 88);
}
.teachingandteam_top{
  height: 20vh;
  width: 100%;
 background-color: rgb(240, 243, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teachingandteam_top h2{
 font-size: 30px;
 letter-spacing: 10px;
 font-family:cursive;
}

.teachingandteam_top h3{
   font-size: 25px;  
   font-family:cursive;
   letter-spacing: 2px;
}
/* top complete */
.teachingandteam_middile_grid{
  height: 90vh; 
  width: 100%; 
  background-color: rgb(240, 243, 237);
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2,1fr);
   row-gap: 10px;
   column-gap: 10px;
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
}
.skills{
   /* height: 45vh; */
   /* width: 25%;  */
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-around;
   padding-left: 20px;
   border-radius: 5px;
}
 .skills .icon{
  height: 40px;
  width: 40px;
  /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .skills_box1:hover .icon{
    background-color: #1D4ED8;
    border-radius: 8px;
 }

 .ri-code-s-slash-line{
    font-size: 30px;
    color: #1D4ED8;
 }
 .ri-database-2-fill{
     font-size: 30px;
    color: #1D4ED8;
 }
 .ri-smartphone-line{
     font-size: 30px;
    color: #1D4ED8;
 }
 .ri-formula{
    font-size: 30px;
    color: #1D4ED8;
 }
 .ri-flask-fill{
    font-size: 30px;
    color: #1D4ED8;
 }
 .skills:hover .ri-code-s-slash-line{
    color: whitesmoke;
 } 
 .skills:hover  .ri-database-2-fill{
    color: whitesmoke;
 } 
.skills:hover  .ri-smartphone-line{
    color: whitesmoke;
 } 

 .skills:hover   .ri-formula{
    color: whitesmoke;
 } 
 .skills:hover  .ri-flask-fill{
    color: whitesmoke;
 } 
 .skills .techskills span{
 margin-right: 10px;

 padding-left: 12px;
 padding-right: 12px;
 padding-top: 8px;
 padding-bottom: 8px;
 border-radius: 8px;
 }
 .skills:hover span{
    background-color: rgb(0, 94, 255);
    color: white;
 }
/*middile grid complete */


.teachingandteam_bottum{
  height: 10vh;
  width: 100%;
  background-color: rgb(239, 243, 243);
  padding-top: 15px;
  padding-left: 120px;
}
.view_details_cources{
background-color: #1D4ED8;
padding-left: 20px;
padding-top: 12px;
padding-right: 20px;
padding-bottom: 12px;
font-size: 18px;
border-radius: 5px;
border: none;
display: flex;
gap: 5px;
}
.view_details_cources a{
    text-decoration: none;
    color: whitesmoke;
}


/* bottum complete */

/* <!-- teachingandteam css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ourteam{
height: 120vh;
width: 100%;
}
.ourteam .ourteamtext{
    height: 20vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourteam .ourteamtext h2{
font-size: 35px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.ourteam .ourteam_founder_cofounder_box{
height: 100vh;
width: 100%;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: center;
gap: 250px;
/* justify-content: space-around; */
align-items: center;
}
.ourteam .ourteam_founder_cofounder_box .founder_box{
height: 75%;
width: 25%;
background-color: #e8e9ecd0;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
padding-top: 25px;
border-radius: 15px;
}
.ourteam .ourteam_founder_cofounder_box .founder_box img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 5px solid blue;
}
.ourteam .ourteam_founder_cofounder_box .founder_box p{
text-align: center;
}
.ourteam .ourteam_founder_cofounder_box .founder_box .p{
    display: flex;
    gap: 20px;
}
.ourteam .ourteam_founder_cofounder_box .co_founder_box{
height: 75%;
width: 25%;
background-color: #e8e9ecd0;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
padding-top: 25px;
border-radius: 15px;
}
.ourteam .ourteam_founder_cofounder_box .co_founder_box img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 5px solid blue;
}
.ourteam .ourteam_founder_cofounder_box .co_founder_box p{
text-align: center;
}
.ourteam .ourteam_founder_cofounder_box .co_founder_box .p{
 display: flex;
    gap: 20px;
}
/* <!-- ourteam css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.joinourteam{

}
/* <!-- joinourteamcss end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~
.getintouch{

}