*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
}
.header_container{
 height: 70px;
 width: 100%;
 background-color: rgb(255, 255, 255);
 display: flex;
}
.header_container_left{
   height: 100%;
   width: 50%;
   /* background-color: rgb(123, 123, 233); */
   display: flex;
   align-items: center;
   justify-content: start;
   padding-left: 100px;
   gap: 20px;
}
.logo img{
height: 50px;
width: 50px;
}

.name{
font-weight: bold;
}
.header_container_right{
   height: 100%;
   width: 50%;
   /* background-color: cadetblue; */
   display: flex;
   justify-content: end;
   align-items: center;
   padding-right: 100px;
   gap: 50px;
}
.header_container_right a{
    color: rgb(7, 5, 5);
    text-decoration: none;
    font-size: 18px;
}
.ri-home-4-fill{
padding-right: 10px;
}
.ri-user-fill{
padding-right: 10px;
}
.ri-code-s-slash-line{
padding-right: 10px;
}
.ri-graduation-cap-fill{
padding-right: 10px;
}
.ri-mail-fill{
padding-right: 10px;
}

#home{
    color:#1D4ED8 ;
}

.hover_effect:hover{
  color:#1D4ED8 ;
}
/* <!-- header_container css end here  --> */

.hero{
 height: 100vh;
 width: 100%;
 /* background-color: red; */
 display: flex;
}
.hero_text{
height: 100%;
width: 50%;
background-color: rgb(255, 255, 255);
font-display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
transition: all 2s;
gap: 20px;
}
.hero_greeting{
padding-left: 100px;
}
.hero_greeting h1{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 50px;
}
/* #wave_imoge{
 animation: waveimogi;
 animation-timing-function: 1s;
 animation-delay: 1s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
 animation-timing-function: step-end;
}
@keyframes waveimogi {
    from{
       
    }
    to{
        
    }
} */
#Alok_Rathod{
text-decoration: underline;
color: #1D4ED8;
}
.hero_title{
 padding-left: 110px;
 padding-bottom: 20px;
}
.hero_title h2{
    font-size: 40px;
}
.hero_description{
padding-left: 110px;
padding-bottom: 50px;
}
.hero_description p{
    font-weight: 300;
    color: rgb(118, 106, 106);
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero_buttons{
padding-left: 110px;
display: flex;
justify-content: start;
align-items: center;
gap: 20px;
}
.hero_buttons button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
}
#mywork{
    background-color: #1D4ED8;
}
/* #mywork:hover{
background-color: black;
color: white;
transition-duration: 0.1;
transition-timing-function: ease-in;
transition-delay: 0.1s;
} */
#cv{
    background-color: black;
}
/* #cv:hover{
 background-color: #1D4ED8;
 color: white;
} */
.hero_social{
 display: flex;
 align-items: center;
 justify-content: start;
 padding-left: 120px;
 padding-top: 50px;
 gap: 10px;
}
.github{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.github:hover{
 position: relative;
 top: 5px;
}
.ri-github-fill{
    font-size: 22px;
}
.ri-github-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.linkedin{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.linkedin:hover{
 position: relative; 
 top: 5px;
}
.ri-linkedin-box-fill{
    font-size: 22px;
}
.ri-linkedin-box-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.instagram{
height: 50px;
width: 50px;
background-color: #1D4ED8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.instagram:hover{
 position: relative; 
 top: 5px;
}
.ri-instagram-fill{
    font-size: 22px;
}
.ri-instagram-fill:hover{
    rotate: 360deg;
    color: white;
    transition: all 0.5s;
}
.hero_image{
height: 100%;
width: 50%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
}
.hero_image_box{
    height: 600px;
    width: 450px;
    border: 4px solid #1D4ED8;
    border-radius: 20px;
}

.hero_image_box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.hero_image_box {
    position: relative;
    animation: alternate;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-name: movementimagebox;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes movementimagebox {
    from{
        top: 10px;
    }
    to{
        bottom: 10px;
    }
}
/* <!-- hero html end here  -->   */

.features{
 height: 100vh;
 width: 100%;
}
.features_header{
height: 20%;
width: 100%;
background-color: rgb(242, 236, 236);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.features_header h3{
font-size: 30px;
font-weight: 600;
padding-bottom: 15px;
letter-spacing: 3px;
}
.features_header h3::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    top: 75px;
    left: 720px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgb(46, 143, 87) 50%, rgb(66, 219, 214) 100%);
}
.features_header p{
font-size: 20px;
letter-spacing: 2px;
color: darkgray;
}
.features_grid{
height: 80%;
width: 100%;
background-color: rgb(241, 235, 235);
display: grid;
row-gap: 1rem;
justify-content: center;
column-gap: 4rem;
padding-top: 15px;
grid-template-rows: 270px 270px;
grid-template-columns: 330px 330px 330px;
}
.grid_item{
    /* background-color: burlywood; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   border: 1px solid  rgb(211, 202, 202);
}
.grid_item:hover{
    border: 1px solid #1D4ED8;
    box-shadow: 1.5px 1.5px  0.5px rgb(214, 210, 210);
}
.grid_item_part{
 height: 80px;
 width: 300px;
}
#features_icon{
/* background-color: azure; */
display: flex;
justify-content: start;
align-items: center;
padding-left: 8px;
position: relative;
}
.icon_box{
    height: 60px;
    width: 60px;
    background-color: #1D4ED8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_item :hover .ri-html5-fill  {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-server-line {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-tools-line  {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.grid_item :hover .ri-brush-fill {
     transition: all ease-in 1s;
     rotate: 360deg;
}
.ri-html5-fill{
  font-size: 35px;
  color: whitesmoke;
}
.ri-server-line{
 font-size: 35px;
  color: whitesmoke;
}
.ri-tools-line{
 font-size: 35px;
  color: whitesmoke;
}
.ri-brush-fill{
 font-size: 35px;
  color: whitesmoke;
}
#features_content{
/* background-color: rgb(89, 186, 186); */
}
#features_content h3{
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#features_content p{
    font-size: 16px;
    padding-left: 5px;
    color: rgb(67, 62, 62);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#features_skills_tag{
/* background-color: rgb(116, 0, 108); */
  padding-top: 10px;
  padding-left: 5px;
}

#features_skills_tag span{
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   font-size: 15px;
   /* border: 1px solid white ; */
   border-radius: 8px;
   margin: 8px;
   margin-left: 0;
}

.grid_item :hover span {
     background-color: #1D4ED8;
     color: white;
}


/* <!-- features css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about{
height: 130vh;
width: 100%;
}
.about_header{

}
.about_content{

}

/* <!-- features css end here  -->  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.projects{

}
.teachingandteam{

}
.joinourteam{

}
.getintouch{

}